<div class="tarefa">
    <div class="Tarefa">
        <div class="TarefaHeader">
            <div class="HeaderEsquerda">
                <i (click)="Abrir()" id="btn{{tarefa?.id}}" class="ExibirDesc fa-solid fa-caret-right"></i>
                <h3>{{tarefa?.titulo}} - {{tarefa?.id}}</h3>
            </div>
            <div class="HeaderDireita">
                <i (click)="AtivarEdicao(tarefa?.id)" class="AtualizarIcon fa-solid fa-pencil"></i>
                <i (click)="RemoverTarefa(tarefa?.id)" class="RemoverIcon fa-solid fa-trash"></i>
            </div>
        </div>
        @if(EditarId === tarefa?.id && ModoEditar === true){
            <div class="CriarForm">
                <form [formGroup]="AtualizarForm" (submit)="AtualizarTarefa()">
                    <input class="InputTxt" placeholder="{{tarefa?.titulo}}" type="text" formControlName="titulo">
                    <textarea class="InputTxt" placeholder="{{tarefa?.descricao}}" formControlName="descricao"></textarea>
                    <div class="SubmitCriar">
                        <input type="submit" value="Atualizar tarefa">
                    </div>
                </form>
            </div>
        }
        @else{
            <p id="desc{{tarefa?.id}}" class="Descricao">{{tarefa?.descricao}}</p>
        }
    </div>
</div>